/* =================== Footer Section =================  */

#footer-section {
    background: #373b43;
}

.footer-content-box {
    text-align: center;
    padding: 15px 0px 0px 0px;
}

.footer-content-box h3 {
  font-size: 20px;
  color: rgba( 159, 161, 170 , 0.95);
  text-shadow: 1px 1.732px 5px rgba( 0, 0, 0 , 0.7);
}

.footer-nav {
    width: 89%;
    list-style: none;
    text-align: left;
}

.footer-nav li {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dotted #444651;
    font-weight: 100;
}

nav-link-avtive {
    visibility: hidden;
}

span.active-page {
    position: relative;
    right: 10px;
    opacity: 0.9;
}

.footer-nav li a{
    position: relative;
    right: 5px;
    font-size: 14px;
    text-decoration: none;
    color: rgba( 34, 214, 249 , 0.85);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    
}

.footer-nav li:hover a.site-link {
    color: rgba( 34, 214, 249 ,1);
}


span.footer-nav-indicator {
    position: relative;
    right: 2px;
    -webkit-transition: right 0.2s;
    transition: right 0.2s;
}

.footer-nav li:hover span.footer-nav-indicator {
    right: -2px;
}

.footer-content-box p {
    color: rgba( 159, 161, 170 , 0.95);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}

.contact-details {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.contact-details a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba( 34, 214, 249 , 0.85);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}

.contact-details a:hover,
.contact-details a:focus {
    text-decoration: none;
    color: rgba( 34, 214, 249 , 0.85);
    cursor: default;
}

.contact-details span {
    margin-right: 5px;
}

.social-list {
    display: inline-block;
    margin-top: 20px;
}

.social-list-item {
    display: block;
    float: left;
    margin-bottom: 10px;
}

.icon-social {
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
    
}

.icon-social:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.child {
    margin-right: 17px;
}

.black-line {
    height: 1px;
    background: rgba(0,0,0,0.2);
}

.white-line {
    height: 1px;
    background: rgba(255,255,255,0.15);
}

/*copy right section*/

.copy-right {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    color: rgba( 159, 161, 170 , 0.95);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
}

.copy-right a {
    text-decoration: none;
    color: rgba( 34, 214, 249 , 0.85);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}

.col-no-padding {
    padding: 0;
}

#footer-bottom-line {
    height: 5px;
    background: #23c1df;
    background-image: -webkit-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
}

@media screen and (max-width: 991px){
    .footer-content-box h3 {
        font-size: 18px;
    }
    
    .footer-logo {
        margin-top: 15px;
    }
    
    .footer-nav {
        padding-left: 0px;
        margin-left: 9px;
    }
    
    footer p,
    .footer-nav li a,
    footer a{
        font-size: 13px;
    }
    
    .reset-padding-right {
        padding-right: 0;
    }
    
    .reset-padding {
        padding: 0;
    }
    
    .contact-details span {
        margin-right: 0px;
    }
    
    .social-list {
        display: inline-block;
        margin-top: 20px;
        padding-right: 0;
        padding-left: 0;
    }
    
    .child {
        margin-right: 10px;
    }
}

@media screen and (max-width: 767px){
    footer p,
    .footer-nav li a,
    footer a{
        font-size: 14px;
    }
    
    .reset-padding-right {
        padding-right: 15px;
    }
    
    .footer-nav {
        width: 80%;
        margin: 0 auto;
    }
    
    .contact-details {
       display: inline-block;
    }
    
    .contact-details span {
        margin-right: 5px;
    }
    
    .social-list {
        padding-bottom: 20px;
    }
    
    .child {
        margin-right: 17px;
    }
    
    .copy-right,
    .copy-right a {
        font-size: 10px;
    }
}