/* ==========================================================================
   Styles for homepage
   ========================================================================== */
/* =================== Featured Area / Silder =================  */
#body {
    width: 100%;
    margin-top: 88px;
    }

#featured-area {
    width: 100%
    }

#slider {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    max-height: 500px
    }

#slider ol li[data-target="#slider"] {
    margin-right: 1px;
}

.carousel-indicators li, .carousel-indicators li.active {
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    -moz-transition: -moz-background 0.3s ease;
    -o-transition: -o-background 0.3s ease;
    -webkit-transition: -webkit-background 0.3s ease;
    transition: background 0.3s ease;
    -moz-transition: -moz-background 0.5s ease;
    -o-transition: -o-background 0.5s ease;
    -webkit-transition: -webkit-background 0.5s ease;
    transition: background 0.5s ease
    }

.carousel-indicators li.active {
    background: rgba(35, 193, 223, 0.4)
    }

.sliding-image {
    width: 100%
    }

.carousel-control, .carousel-control {
    -moz-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    -webkit-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease
    }

.carousel-control:hover, .carousel-control:focus {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7
    }

.slider-btn {
    position: absolute;
    top: 45%;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
    }

#slider-left-btn {
    left: -100%;
    -moz-transition: left 0.6s ease;
    -o-transition: left 0.6s ease;
    -webkit-transition: left 0.6s ease;
    transition: left 0.6s ease
    }

#slider:hover #slider-left-btn {
    left: 20%
    }

#slider-right-btn {
    right: -100%;
    -moz-transition: right 0.6s ease;
    -o-transition: right 0.6s ease;
    -webkit-transition: right 0.6s ease;
    transition: right 0.6s ease
    }

#slider:hover #slider-right-btn {
    right: 20%
    }

/*mobile and tablet media queries*/

@media screen and (max-width: 1199px){
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 995px) {
    #body {
        margin-top: 0
    }
}

@media screen and (max-width: 991px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px
        }
    }
/* =================== Main Content Section =================  */
#main-content-holder {
    position: relative;
    width: 100%;
    padding-bottom: 70px;
    border-top: 1px solid rgba(53, 57, 65, 0.11);
    text-align: center;
    background: url("../images/pattern_bg.png");  
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1) inset;
}

.gradient-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 42%, rgb(239,239,239) 90%, rgb(223,223,223) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 42%, rgb(239,239,239) 90%, rgb(223,223,223) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 42%, rgb(239,239,239) 90%, rgb(223,223,223) 100%);
    opacity: 0.4;
}

.main-content-inner {
    position: relative;
    text-align: center;
    padding-top: 60px;
    margin-right: 2.5%;
    overflow: hidden;
    z-index: 2;
}

.main-content-inner#i-socialize {
    margin-right: 0
    }

.scale-down {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
    }

.main-content-inner a {
    color: rgba(37, 171, 197, 0.8)
    }

.main-content-inner h3, .main-content-inner h4 {
    margin-bottom: 15px
    }

.main-content-inner h3, .main-content-inner h4, .main-content-inner p {
    color: rgba(39, 42, 48, 0.8)
    }

.web-tech-list-container {
    position: relative;
    text-align: center
    }

.web-tech-list {
    position: relative;
    right: 30px;
    padding-left: 0;
    margin-top: 10px;
    list-style: none
    }

.web-tech-list li {
    margin-bottom: 5px
    }

.web-tech-list li span.circle-indicator {
    position: relative;
    right: 6px;
    display: inline-block;
    width: 7px;
    height: 7px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: rgba(39, 42, 48, 0.8);
    -moz-transition: right 0.3s, -moz-background 0.4s;
    -o-transition: right 0.3s, -o-background 0.4s;
    -webkit-transition: right 0.3s, -webkit-background 0.4s;
    transition: right 0.3s, background 0.4s
    }

.web-tech-list li:hover span.circle-indicator {
    right: 12px;
    background: rgba(37, 171, 197, 0.8)
    }

.web-tech-list li a.web-tech {
    position: absolute;
    display: inline;
    text-transform: uppercase;
    color: rgba(39, 42, 48, 0.8);
    text-decoration: none;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    -webkit-transition: color 0.4s;
    transition: color 0.4s
    }

.web-tech-list li:hover a.web-tech {
    color: rgba(37, 171, 197, 0.8)
    }

figure#design-download-fig {
    position: relative;
    display: inline-block;
    border: 4px solid #f7f7f7;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    overflow: hidden
    }

figure#design-download-fig img.fg-image {
    width: 100%
    }

figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    background: rgba(0, 0, 0, 0.3);
    -moz-transition: top 0.4s ease;
    -o-transition: top 0.4s ease;
    -webkit-transition: top 0.4s ease;
    transition: top 0.4s ease
    }

figure#design-download-fig:hover figcaption {
    top: 0
    }

img.fg-image {
    -moz-transition: all 6s ease;
    -o-transition: all 6s ease;
    -webkit-transition: all 6s ease;
    transition: all 6s ease
    }

figure#design-download-fig:hover img.fg-image {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
    }

figcaption h4.fgc-header, figcaption p.fgc-paragraph, figcaption a.fgc-btn {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    position: relative
    }

figcaption h4.fgc-header {
    margin-bottom: 0;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    left: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    -moz-transition: left 0.3s ease-in 0.4s;
    -o-transition: left 0.3s ease-in 0.4s;
    -webkit-transition: left 0.3s ease-in 0.4s;
    transition: left 0.3s ease-in 0.4s
    }

figure#design-download-fig:hover h4.fgc-header, figure#design-download-fig:hover a.fgc-btn, figure#design-download-fig:hover p.fgc-paragraph {
    left: 0
    }

figcaption p.fgc-paragraph {
    left: 100%;
    -moz-transition: left 0.3s ease-in 0.5s;
    -o-transition: left 0.3s ease-in 0.5s;
    -webkit-transition: left 0.3s ease-in 0.5s;
    transition: left 0.3s ease-in 0.5s
    }

figcaption a.fgc-btn {
    display: block;
    text-decoration: none;
    left: 100%;
    -moz-transition: left 0.3s ease-in 0.6s, color 0.3s ease;
    -o-transition: left 0.3s ease-in 0.6s, color 0.3s ease;
    -webkit-transition: left 0.3s ease-in 0.6s, color 0.3s ease;
    transition: left 0.3s ease-in 0.6s, color 0.3s ease
    }

figcaption a.fgc-btn:hover {
    color: rgba(255, 255, 255, 0.9)
    }

span.icon-download {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
    }

figcaption a.fgc-btn:hover span.icon-download {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9
    }

.socialize-list {
    display: inline-block;
    padding-left: 0;
    margin-top: 8px;
    list-style: none
    }

.socialize-list li {
    margin-bottom: 5px
    }

a.read-more {
    position: relative;
    right: -33%;
    margin: 2% 0;
    font-size: 12px;
    font-weight: 700;
    opacity: 0;
    -moz-transition: right 0.6s ease,opacity 0.6s ease;
    -o-transition: right 0.6s ease,opacity 0.6s ease;
    -webkit-transition: right 0.6s ease,opacity 0.6s ease;
    transition: right 0.6s ease,opacity 0.6s ease;
    }

.main-content-inner:hover a.read-more {
    right: 10%;
    opacity: 0.95;
    }

/*media requery */
@media screen and (max-width: 1200px) {
    a.read-more {
        display: none
        }
    figcaption {
        display: none
        }
}

@media screen and (max-width: 1199px){
    .mgl-md {
        margin-left: 16.666666666666664%;
    }
}

@media screen and (max-width: 995px) {
    #main-content-holder {
        padding-bottom: 120px;
    }
    
    .main-content-inner{
        padding-top: 40px;
    }
    
    .web-tech-list {
        right: 22px
    }
    .main-content-inner-container {
        height: 100%
    }
    .socialize-list {
        margin: 0;
    }
    
    .mgl-md {
        margin-left: 0;
    }
}
/* =================== Lower Section =================  */
#lower-section {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid rgba(53, 57, 65, 0.1);
    background: rgba(174, 182, 183, 0.6);
    }

#hire-me-container {
    position: relative;
    top: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #373b43;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

#famous-quotes {
    border-left: 4px solid rgba(255,255,255,0.8);
}

.quote-indicators{
    margin-bottom: 0;
    bottom: -10px;
}

.pic {
    margin-left: 20px;
}

.quote-indicators li,
.quote-indicators li.active {
    width: 10px;
    height: 10px;
}

.quote-indicators li.active {
    background: rgba(255, 255, 255, 0.4);
}

blockquote {
    margin: 0px;
    border-left: none;
}

blockquote p {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(225,225,225,0.9);
}

blockquote cite a {
    color: rgba(34, 211, 245,0.8);
}

blockquote cite a:hover {
    color: rgba(34, 211, 245,0.8);
    text-decoration: none;
}

.hire-me-btn-container {
    background: rgb(20, 26, 32);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3px
    }

.large-hire-me-btn {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: rgb(20, 26, 32);
    font-size: 18px;
    text-align: center;
    outline: none;
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(90deg, rgb(220, 220, 220) 0%, rgb(255, 255, 255) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(220, 220, 220) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(220, 220, 220) 0%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(90deg, rgb(220, 220, 220) 0%, rgb(255, 255, 255) 100%);
    }

.large-hire-me-btn:hover {
    text-decoration: none;
    color: rgb(20, 26, 32);
    }

#lower-section-heading-container {
    position: relative;
    top: -20px
    }

h1#let-the-world-know {
    position: relative;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 36px;
    color: rgb(250, 251, 251);
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
    text-align: center;
    }

div#share-container {
    display: block;
    width: 159px;
    height: 50px;
    position: relative;
    top: -20px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.89);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
    }

.share-group-normal-state {
    position: relative;
    left: 0;
    -moz-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    -webkit-transition: left 0.4s ease;
    transition: left 0.4s ease
    }

div#share-container:hover .share-group-normal-state {
    left: -140px
    }

.share-group-normal-state i#share-icon {
    position: absolute;
    height: 50px;
    top: 10px;
    left: 20px;
    display: inline-block
    }

.share-group-normal-state span#share {
    position: absolute;
    left: 58px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.35)
    }

.share-group-hover-state {
    height: 100%;
    position: relative;
    right: -160px;
    padding-top: 6px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    -moz-transition: right 0.4s ease;
    -o-transition: right 0.4s ease;
    -webkit-transition: right 0.4s ease;
    transition: right 0.4s ease
    }

div#share-container:hover .share-group-hover-state {
    right: 0
    }

.share-social-media {
    margin-left: 5px
    }

/*media query for tablet and mobile*/
@media screen and (max-width: 995px) {
    blockquote {
        padding-top: 0;
    }
    
    blockquote p {
        margin-bottom: 5px;
        font-size: 12px;
    }
    
    .large-hire-me-btn {
        font-size: 13px;
        font-weight: 700;
    }
    
    h1#let-the-world-know {
        font-size: 30px;
    }

    .share-group-normal-state {
        left: -140px
        }
    .share-group-hover-state {
        right: 0
        }
    }

@media screen and (max-width: 767px){
    #famous-quotes {
        margin-bottom: 40px;
    }
}