/* ==========================================================================
   Styles for homepage
   ========================================================================== */
/* =================== Header =================  */

header {
    width: 100%;
    height: 105px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: #363b43;
    -moz-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.43);
    }

.fixed-top {
    width: 100%;
    height: 5px;
    background: #23c1df;
    background-image: -webkit-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
    background-image: -moz-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
    background-image: -o-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
    }

.contaniner {
    margin-top: 5px;
    }

.row {
    margin: 0;
}

#logo {
    display: block;
    position: absolute;
    top: 28px;
    width: 290px;
    height: 44px;
    background: url(../images/logo.png) no-repeat 0 0;
    }

#mobile-menu-trigger {
    visibility: hidden;
    }

.main-nav {
    width: 100%;
    height: 100px;
    }

.top-nav {
    width: 100%;
    height: 100px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    }

.top-nav li {
    width: 21.621621%;
    height: 100px;
    margin-right: 1.5%;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    }

a:focus {
    outline: none;
    }

.top-nav li a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    text-decoration: none;
    }

.top-nav li a span.nav-active-element-icon {
    display: block;
    width: 20px;
    height: 11px;
    margin-bottom: 8px;
    position: relative;
    top: -6px;
    left: 42%;
    }

.active {
    visibility: visible;
    position: fixed;
    }

.inactive {
    visibility: hidden;
    }

.top-nav li a span.nav-element-icon {
    display: block;
    width: 13px;
    height: 14px;
    position: relative;
    left: 44%;
    top: -2px;
    }

/*
    common nav element styles
*/
.top-nav li a span.big-text, .top-nav li a span.small-text {
    text-align: center;
    }

.top-nav li a span.big-text {
    display: block;
    position: relative;
    top: 2px;
    color: #f3eeee;
    -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -ms-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    -o-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    }

.top-nav li a span.small-text {
    display: block;
    position: relative;
    top: 4px;
    font-style: italic;
    font-size: 14px;
    color: rgba(202, 202, 202, 0.7);
    -moz-transition: top 0.2s ease, color 0.3s ease;
    -o-transition: top 0.2s ease, color 0.3s ease;
    -webkit-transition: top 0.2s ease, color 0.3s ease;
    transition: top 0.2s ease, color 0.3s ease;
    }

.top-nav li a:hover span.small-text {
    top: 0;
    color: rgba(225, 225, 225, 1);
    }

.top-nav li a span.indicator {
    display: block;
    position: relative;
    top: 28px;
    left: 34%;
    width: 40px;
    height: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: rgba(35, 193, 223, 0.8);
    -moz-transition: opacity 0.5s ease, top 0.35s ease;
    -o-transition: opacity 0.5s ease, top 0.35s ease;
    -webkit-transition: opacity 0.5s ease, top 0.35s ease;
    transition: opacity 0.5s ease, top 0.35s ease;
    }

.top-nav li a:hover span.indicator {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 20px;
    }

.stroke {
    width: 100%;
    height: 1px;
    position: relative;
    top: -1px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    opacity: 0.2;
    }

/*mobile and tablet menu media query*/
@media screen and (max-width: 995px) {
    header {
        height: 80px;
        position: static;
        }
    #logo {
        width: 254px;
        top: 25px;
        background: url(../images/logo-small.png) no-repeat 0 0;
        }
    .main-nav {
        display: none;
        }
    a#mobile-menu-trigger {
        visibility: visible;
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 25px;
        background: url(../images/icon-mobile-menu-trigger.png);
        background-size: 30px 30px;
        border-radius: none;
        }
    }
@media screen and (max-width: 480px) {
    hearder {
        height: 60px;
        }
    
    #logo {
        width: 172px;
        top: 25px;
        background: url(../images/logo-xsmall.png) no-repeat 0 0
        }
    
    a#mobile-menu-trigger {
        margin-top: 23px;
        width: 29px;
        height: 29px;
        background: url(../images/icon-mobile-menu-trigger.png);
        background-size: 29px 29px;
        }
    }

/* =================== Mobile menu bar =================  */

#mobile-menu-container {
    display: none;
    width: 100%;
    height: 0px;
    margin-top: 2px;
    background-color: #26b3cf;
}

/*mobile and tablet menu media query*/
@media screen and (max-width: 995px) {
    #mobile-menu-container {
        height: 0px;
        border-bottom: 3px solid rgba(0,0,0,0.3);
    }
    
    #mobille-menu-nav {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    
    .mobile-menu-bar {
        width: 100%;
        height: 0px;
        padding: 0;
        list-style: none;
    }
    
    .mobile-menu-bar li {
        margin: 0;
        padding: 0;
    }
    
    .mobile-menu-bar li a {
        display: block;
        padding: 20px 0;
        position: relative;
        top: 50%;
        font-size: 0.89em;
        text-transform: uppercase;
        color: rgba(255,255,255,0.8);
        border-bottom:1px solid rgba(255,255,255,0.3);
        -webkit-text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        -moz-text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        -ms-text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        -o-text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
    
    .mobile-menu-bar li a:hover {
        text-decoration: none;
        color: rgba(255,255,255,1);
    }
    
   .mobile-menu-bar li a span.indicator-mobile-menu {
        width: 5px;
        height: 23px;
        position: absolute;
        top: 20px;
        left: -22px;
        background: white;
        opacity: 0;
        -webkit-transition: left 0.35s ease,opacity 0.7s ease;
        -moz-transition: left 0.35s ease,opacity 0.7s ease;
        -ms-transition: left 0.35s ease,opacity 0.7s ease;
        -o-transition: left 0.35s ease,opacity 0.7s ease;
        transition: left 0.35s ease,opacity 0.7s ease;
    }
    
    .mobile-menu-bar li a span.indicator-mobile-menu-active {
        left: 5px;
        opacity: 0.6;
    }
    
    .mobile-menu-bar li a:hover span.indicator-mobile-menu {
        left: 5px;
        opacity: 0.6;
        
    }
    
    .mobile-menu-bar li a span.big-text {
        margin-left: 30px;
    }
}


/* =================== Featured Area / Silder =================  */

#body {
    width: 100%;
    margin-top: 108px;
}

#featured-area {
    width: 100%;
}

#slider {
    overflow: hidden;
    background: rgba(0,0,0,0.1);
    max-height: 500px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    background: rgba(0,0,0,0.2);
    border: none;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.carousel-indicators li.active {
    background: rgba(35, 193, 223, 0.4);
}

.sliding-image {
    width: 100%;
}

.carousel-control, .carousel-control {
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
}

.carousel-control:hover, .carousel-control:focus {
    opacity: 0.7;
}

.slider-btn {
    position: absolute;
    top: 45%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

#slider-left-btn {
    left: -100%;
    -webkit-transition: left 0.6s ease;
    -moz-transition: left 0.6s ease;
    -ms-transition: left 0.6s ease;
    -o-transition: left 0.6s ease;
    transition: left 0.6s ease;
}

#slider:hover #slider-left-btn {
    left: 20%;
}

#slider-right-btn {
    right: -100%;
    -webkit-transition: right 0.6s ease;
    -moz-transition: right 0.6s ease;
    -ms-transition: right 0.6s ease;
    -o-transition: right 0.6s ease;
    transition: right 0.6s ease;
}

#slider:hover #slider-right-btn {
    right: 20%;
}

/*mobile and tablet media queries*/
@media screen and (max-width: 995px) {
    #body {
        margin-top: 0px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
    }
}

/* =================== Main Content Section =================  */


#main-content-holder {
    width: 100%;
    padding-bottom: 60px;
    border-top: 1px solid rgba(53,57,65,0.11);
    text-align: center;
    background: #f7f7f7;
}

.main-content-inner {
    text-align: center;
    padding-top: 60px;
    margin-right: 2.5%;
    overflow: hidden;
}

.main-content-inner#i-socialize {
    margin-right: 0;
}

.scale-down {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.main-content-inner a {
    color: rgba(37, 171, 197, 0.8);
} 

.main-content-inner h3, 
.main-content-inner h4 {
    margin-bottom: 15px;
}

.main-content-inner h3, 
.main-content-inner h4,
.main-content-inner p {
    color: rgba(39,42,48,0.8);
}

.web-tech-list-container {
    position: relative;
    text-align: center;
}

.web-tech-list {
    position: relative;
    right: 30px;
    padding-left: 0;
    margin-top: 10px;
    list-style: none;
}

.web-tech-list li {
    margin-bottom: 5px;
}

.web-tech-list li span.circle-indicator {
    position: relative;
    right: 6px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background: rgba(39,42,48,0.8);
    -webkit-transition: right 0.3s, background 0.4s;
    -moz-transition: right 0.3s, background 0.4s;
    -ms-transition: right 0.3s, background 0.4s;
    -o-transition: right 0.3s, background 0.4s;
    transition: right 0.3s, background 0.4s;
}

.web-tech-list li:hover span.circle-indicator {
    right: 12px;
    background: rgba(37, 171, 197, 0.8);
}

.web-tech-list li a.web-tech {
    position: absolute;
    display: inline;
    text-transform: uppercase;
    color: rgba(39,42,48,0.8);
    text-decoration: none;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.web-tech-list li:hover a.web-tech {
    color: rgba(37, 171, 197, 0.8);
}

figure#design-download-fig {
    position: relative;
    display: inline-block;
    border: 4px solid #f7f7f7;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    overflow: hidden;
}

figure#design-download-fig img.fg-image {
    width: 100%;
}

figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    background: rgba(0,0,0,0.3);
    -webkit-transition: top 0.4s ease;
    -moz-transition: top 0.4s ease;
    transition: top 0.4s ease;
}

figure#design-download-fig:hover figcaption {
    top: 0;
}

img.fg-image {
    -webkit-transition: all 6s ease;
    -moz-transition: all 6s ease;
    transition: all 6s ease;
}

figure#design-download-fig:hover img.fg-image {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

figcaption h4.fgc-header,
figcaption p.fgc-paragraph,
figcaption a.fgc-btn{
    width: 100%;
    color: rgba(255,255,255,0.7);
    position: relative;
}

figcaption h4.fgc-header {
    margin-bottom: 0px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    left: 100%;
    background: rgba(0,0,0,0.4);
    border-top: 1px solid rgba(255,255,255,0.35);
    border-bottom: 1px solid rgba(255,255,255,0.35);
    -webkit-transition: left 0.3s ease-in 0.4s;
    -moz-transition: left 0.3s ease-in 0.4s;
    transition: left 0.3s ease-in 0.4s;
}

figure#design-download-fig:hover h4.fgc-header, 
figure#design-download-fig:hover a.fgc-btn,
figure#design-download-fig:hover p.fgc-paragraph {
    left: 0;
}

figcaption p.fgc-paragraph {
    left: 100%;
    -webkit-transition: left 0.3s ease-in 0.5s;
    -moz-transition: left 0.3s ease-in 0.5s;
    transition: left 0.3s ease-in 0.5s;
}

figcaption a.fgc-btn {
    display: block;
    _margin-top: 30px;
    text-decoration: none;
    left: 100%;
    -webkit-transition: left 0.3s ease-in 0.6s,color 0.3s ease;
    -moz-transition: left 0.3s ease-in 0.6s,color 0.3s ease;
    transition: left 0.3s ease-in 0.6s,color 0.3s ease;
}

figcaption a.fgc-btn:hover {
    color: rgba(255, 255, 255, 0.9);
}

span.icon-download {
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

figcaption a.fgc-btn:hover span.icon-download {
    opacity: 0.9;
}

.socialize-list {
    display: inline-block;
    padding-left: 0;
    margin-top: 8px;
    list-style: none;
}

.socialize-list li {
    margin-bottom: 5px;
}

a.read-more {
    position: relative;
    right: -33%;
    margin: 2% 0;
    font-size: 12px;
    font-weight: 700;
    -webkit-transition: right 0.6s ease;
    -moz-transition: right 0.6s ease;
    -ms-transition: right 0.6s ease;
    -o-transition: right 0.6s ease;
    transition: right 0.6s ease;
}

.main-content-inner:hover a.read-more {
    right: 10%;
}

/*media requery */
@media screen and (max-width: 1200px){
    a.read-more {
        display: none;
    }
    
    figcaption {
        display: none;
    }
}

@media screen and (max-width: 995px){
    .web-tech-list {
        right: 22px;
    }
    
    .main-content-inner-container {
        height: 100%;
    }
}


/* =================== Lower Section =================  */

#lower-section {
    width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid rgba(53,57,65,0.1);
    background: rgba(174,182,183,0.6);
    text-align: center;
}

#hire-me-container {
    position: relative;
    top: -50px;
    height: 100px;
    background: #373b43;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.hire-me-btn-container {
    height: 60px;
    margin-top: 20px;
    background: rgb( 20, 26, 32 );   
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3px;
}

.large-hire-me-btn {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    border-radius: 8px;
    color: rgb( 20, 26, 32 );
    font-size: 18px;
    outline: none;
    background-image: -moz-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
}

.large-hire-me-btn:hover {
    text-decoration: none;
    color: rgb( 20, 26, 32 );
}

#lower-section-heading-container {
    position: relative;
    top: -20px;
}

h1#let-the-world-know {
    position: relative;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: rgb( 250, 251, 251 );
    text-shadow: 1px 1.732px 0px rgba( 0, 0, 0 , 0.35);
}

div#share-container {
    display: inline-block;
    width: 159px;
    height: 50px;
    position: relative;
    top: -20px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.89);
    border-radius: 2px;
}

.share-group-normal-state {
    position: relative;
    left: 0;
    -webkit-transition: left 0.4s ease;
    -moz-transition: left 0.4s ease;
    transition: left 0.4s ease;
}

div#share-container:hover .share-group-normal-state {
    left: -140px;
}

.share-group-normal-state i#share-icon {
    position: absolute;
    height: 50px;
    top: 10px;
    left: 20px;
    display: inline-block;
}

.share-group-normal-state span#share {
    position: absolute;
    left: 58px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 23px;
    color: rgb( 255, 255, 255 );
    text-align: left;
    text-shadow: 1px 1.732px 0px rgba( 0, 0, 0 , 0.35);
}

.share-group-hover-state {
    height: 100%;
    position: relative;
    right: -160px;
    padding-top: 6px;
    text-align: center;
    background: rgba(255,255,255,0.5);
    -webkit-transition: right 0.4s ease;
    -moz-transition: right 0.4s ease;
    transition: right 0.4s ease;
}

div#share-container:hover .share-group-hover-state {
    right: 0;
}

.share-social-media {
    margin-left: 5px;
}

/*media query for tablet and mobile*/
@media screen and (max-width: 995px){
    .share-group-normal-state {
        left: -140px;
    }
    
    .share-group-hover-state {
        right: 0;
    }
}

/* =================== Footer Section =================  */

#footer-section {
    background: #373b43;
}

.footer-content-box {
    text-align: center;
    padding: 15px 0px 0px 0px;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}

.footer-content-box h3 {
  font-size: 20px;
  color: rgba( 159, 161, 170 , 0.95);
  text-shadow: 1px 1.732px 5px rgba( 0, 0, 0 , 0.7);
}

.footer-nav {
    width: 89%;
    list-style: none;
    text-align: left;
}

.footer-nav li {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #444651;
    font-weight: 100;
}

nav-link-avtive {
    visibility: hidden;
}

span.active-page {
    position: relative;
    right: 10px;
    opacity: 0.9;
}

.footer-nav li a{
    position: relative;
    right: 5px;
    font-size: 14px;
    text-decoration: none;
    color: rgba( 34, 214, 249 , 0.85);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
    -wekit-transition: color 0.3s;
}

.footer-nav li:hover a.site-link {
    color: rgba( 34, 214, 249 ,1);
}


span.footer-nav-indicator {
    position: relative;
    right: 2px;
    -webkit-transition: right 0.2s;
    -moz-transition: right 0.2s;
    transition: right 0.2s;
}

.footer-nav li:hover span.footer-nav-indicator {
    right: -2px;
}

.footer-content-box p {
    color: rgba( 159, 161, 170 , 0.95);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}

.black-line {
    height: 1px;
    background: rgba(0,0,0,0.2);
}

.white-line {
    height: 1px;
    background: rgba(255,255,255,0.15);
}

/*copy right section*/

.copy-right {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    color: rgba( 159, 161, 170 , 0.95);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
}

.copy-right a {
    text-decoration: none;
    color: rgba( 34, 214, 249 , 0.85);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}

.col-no-padding {
    padding: 0;
}

#footer-bottom-line {
    height: 5px;
    background: #23c1df;
    background-image: -webkit-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
    background-image: -moz-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
    background-image: -o-linear-gradient(180deg, rgb(34, 211, 245) 0%, rgb(37, 164, 189) 30%, rgb(40, 117, 132) 50%, rgb(34, 214, 249) 100%);
}

