/* ==========================================================================
   Styles for homepage
   ========================================================================== */

/* =================== HEADER =================  */

header {
    width: 100%;
    height: 100px;
    position: relative;
    left: 0px;
    top: 0px;
    background: #363b43;
    box-shadow: 0px 6px 5px -2px rgba( 0, 0, 0, 0.4 );
}

.fixed-top {
    height: 5px;
    width: 100%;
    margin-bottom: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #23c1df;
    background-image: -webkit-linear-gradient( 180deg, rgb(34,211,245) 0%, rgb(37,164,189) 30%, rgb(40,117,132) 50%, rgb(34,214,249) 100%);
    background-image: -moz-linear-gradient( 180deg, rgb(34,211,245) 0%, rgb(37,164,189) 30%, rgb(40,117,132) 50%, rgb(34,214,249) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(34,211,245) 0%, rgb(37,164,189) 30%, rgb(40,117,132) 50%, rgb(34,214,249) 100%);
    background-image: -o-linear-gradient( 180deg, rgb(34,211,245) 0%, rgb(37,164,189) 30%, rgb(40,117,132) 50%, rgb(34,214,249) 100%);
}

.container {
    margin-top: 5px;
}

.logo {
    position: absolute;
    top: 25px;
}

#mobile-menu-trigger {
    visibility: hidden;
}

.main-nav {
    width: 100%;
    height: 100px;
}

.top-nav {
    width: 100%;
    height: 100px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.top-nav li {
    width: 21.621621%;
    height: 100px;
    float: left;
    position: relative;
    top: 0;
    left: 0;
}

.top-nav li a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left 0;
    overflow: hidden;
    text-decoration: none;
}

.top-nav li a span.nav-active-element-icon {
    display: block;
    width: 20px;
    height: 11px;
    margin-bottom: 8px;
    position: relative;
    top: -6px;
    left: 42%;
}

.active {
    visibility: visible;
    position: fixed;
}

.inactive {
    visibility: hidden;
}

.top-nav li a span.nav-element-icon {
    display: block;
    width: 13px;
    height: 14px;
    position: relative;
    left: 44%;
    top: -2px;
}

/*
    common nav element styles
*/

.top-nav li a span.big-text,
.top-nav li a span.small-text {
    text-align: center;
}

.top-nav li a span.big-text {
    display: block;
    position: relative;
    top: 2px;
    color: #f3eeee;
    -webkit-text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.4);
    -moz-text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.4);
    -ms-text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.4);
    -o-text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.4);
    text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}



.top-nav li a span.small-text {
    display: block;
    position: relative;
    top: 4px;
    font-style: italic;
    font-size: 14px;
    color: #cacaca;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
}

.top-nav li a:hover span.small-text {
    top: 0;
}

.top-nav li a span.indicator {
    display: block;
    position: relative;
    top: 28px;
    left: 34%;
    width: 40px;
    height: 5px;
    opacity: 0;
    border-radius: 1px;
    background: #23c1df;
    -webkit-transition: opacity 0.6s ease, top 0.4s ease;
    transition: opacity 0.6s ease, top 0.4s ease;

}

.top-nav li a:hover span.indicator {
    opacity: 0.9;
    top: 20px;
}

.stroke {
    width: 100%;
    height: 1px;
    position: relative;
    top: -1px;
    opacity: 0.2;
}

.stroke-dark {
    background: #141a20;
}

.stroke-white {
    background: #686c72;
}

/*mobile menu media query*/
@media screen and (max-width: 990px){
    header {
        height: 80px;
    }
    
    .main-nav {
        display: none;
    }
    
    #mobile-menu-trigger {
        visibility: visible;
        display: block;
        width: 30px;
        height: 30px;
        margin-top: 25px;
        margin-right: 10px;
        border: 1px solid lightblue;
    }
}

