/*
    styles for portfolio page
*/

#title-section-container {
    position: relative;
    margin-top: 98px;
    height: 120px;
    background: #f3f3f3;
    text-align: center;
    box-shadow: 0px 3px 4px rgba( 141, 141, 141, .3 );
    z-index: 135;
}

h1.title {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 120px;
    font-weight: 200;
    font-size: 45px;
    color: rgb( 54, 59, 67 );
    text-shadow: 0px 2px 2px rgba( 141, 141, 141, .65 );

}

.triangle {
    position: relative;
    top: -2px;
}

/*
    mobile and tablet media queries
*/

@media screen and (max-width: 1199px){
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 996px){
    #title-section-container {
        margin-top: 3px;
    }
}

@media screen and (max-width: 991px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    #title-section-container {
        height: 80px;
    }
    
    h1.title {
        line-height: 80px;
        font-size: 35px;
    }
}

/* =================== featured area =================  */

#featured-area-conainer {
    padding: 10px 0;
    background: url("../images/featured_area_bg.png") no-repeat 0 0;
    background-size: cover;  background-position: center center;
    text-align: center;
    
}

#featured-area-conainer h1 {
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 70px;
    font-size: 38px;
    color: rgb( 254, 254, 254 );
    text-align: center;
    text-shadow: 0px 2px 3px rgba( 0, 0, 0, 0.3);
    z-index: 131;
}

#featured-area-conainer h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 70px;
    font-size: 20px;
    color: rgb( 148, 223, 237 );
    text-align: center;
    text-shadow: 0px 2px 3px rgba( 0, 0, 0 , 0.3);
    z-index: 130;
}

img[alt="imac-ipad-iphone"] {
    padding: 25px 0 0 90px;
}

/*
    mobile and tablet media queries
*/

@media screen and (max-width: 991px){
    #title-section-container {
        height: 80px;
    }
    
    h1.title {
        line-height: 80px;
        font-size: 35px;
    }
    
    #featured-area-conainer h1 {
        font-size: 32px;
    }
    
    #featured-area-conainer h4 {
        font-size: 17px;
        padding-bottom: 20px;
    }
    
    img[alt="imac-ipad-iphone"] {
        padding: 50px 0;
    }
}


/* =================== main section =================  */

#main-section{
    padding: 80px 0 30px;
    background: #f3f3f3;
    box-shadow: 0px -3px 4px rgba( 141, 141, 141, .3 ),0px 1px 3px rgba( 141, 141, 141, .3 );;
    z-index: 135;
}

a.icon img {
    margin: 0;
}

.main-section-header-block {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: rgba( 53, 57, 65, 0.7 );
    text-shadow: 0px 2px 0px rgb( 253, 253, 253 );
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.71);
    z-index: 122;
}

.block-paragraph {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 13px;
    color: rgba( 97, 97, 97, 0.702 );
}

/* =================== lower main section =================  */

#lower-main-section {
    padding: 40px 0;
    position: relative;
    background: rgb(255,255,255) url("../images/pattern_bg.png") 0 0;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1) inset;
}

.gradient-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 42%, rgb(239,239,239) 90%, rgb(223,223,223) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 42%, rgb(239,239,239) 90%, rgb(223,223,223) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 42%, rgb(239,239,239) 90%, rgb(223,223,223) 100%);
    opacity: 0.4;
}

.section-content {
    position: relative;
    z-index: 2;
}

.iphone {
    display: block;
    padding: 46px 0;
}

.inner-padding {
    padding: 46px 0 46px 30px;
}

.media {
    margin-bottom: 40px;
}

.media a[class="pull-left"]{
    cursor: default;
}

.media-object {
    margin-right: 50px;
}

.media-heading {
    margin: 0 0 15px;
    font-size: 24px;
    color: rgba( 39, 42, 48, 0.8 );
    text-shadow: 0px 1px 1px rgba( 141, 141, 141, 0.6 );
}

.media-body {
    font-size: 16px;
    color: rgba( 39, 42, 48 ,0.7);
}

.media-body a {
    color: rgba(37, 171, 197, 0.8);
}

.icon {
    opacity: 0.7;
}

/*
    mobile and tablet media queries
*/

@media screen and (max-width: 991px){
    .inner-padding {
        padding: 0;
    }
    
    .media {
        margin-bottom: 0;    
    }
    
    .media-icon {
        float: none !important;
    }
    
    .media-icon img {
        margin-right: auto;
    }
    
    .media-heading {
        margin: 15px 0;
        text-align: center;
    }
    
    .media-paragraph {
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px){
    .media {
        margin-bottom: 20px;    
    }
}
