/*
    share group stylesheet
*/
.share-group, .share-group-body {
    display: block;
    padding-left: 0;
    margin-bottom: 0
    }

.share-group {
    position: fixed;
    top: 190px;
    left: 0;
    width: 40px;
    height: 35px;
    background-color: rgb(54, 59, 67);
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    z-index: 165;
    -moz-transition: width 0.3s ease, top 0.3s;
    -o-transition: width 0.3s ease, top 0.3s;
    -webkit-transition: width 0.3s ease, top 0.3s;
    transition: width 0.3s ease, top 0.3s
    }

.share-group:hover {
    width: 120px;
    -moz-border-radius: 0 2px 0 0;
    -webkit-border-radius: 0 2px 0 0;
    border-radius: 0 2px 0 0
    }

.move-up {
    top: 180px
    }

.share {
    position: absolute;
    top: 9px;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(238, 238, 238);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transition: opacity 0.2s, left 0.25s ease;
    -o-transition: opacity 0.2s, left 0.25s ease;
    -webkit-transition: opacity 0.2s, left 0.25s ease;
    transition: opacity 0.2s, left 0.25s ease
    }

.share-group:hover .share {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    left: 45px;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
    }

.trigger {
    display: block;
    line-height: 35px
    }

.icon-share {
    position: relative;
    left: 10px;
    -moz-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease
    }

.share-group:hover .icon-share {
    left: 24px
    }

.share-group-body {
    position: absolute;
    left: -120px;
    width: 120px;
    height: 245px;
    padding: 10px 0;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
    border-top: 2px solid rgba(54, 59, 67, 0.1);
    border-bottom: 1px solid rgba(54, 59, 67, 0.5);
    border-right: 1px solid rgba(54, 59, 67, 0.5);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    opacity: 0.1;
    text-align: center;
    -moz-transition: left 0.3s ease, opacity 0.6s ease;
    -o-transition: left 0.3s ease, opacity 0.6s ease;
    -webkit-transition: left 0.3s ease, opacity 0.6s ease;
    transition: left 0.3s ease, opacity 0.6s ease
    }

.share-group:hover .share-group-body {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    left: 0;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
    }

.share-group-body li {
    margin-bottom: 5px
    }